*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: Tahoma, sans-serif;
    background-image:  url('weather.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    display: flex;
   justify-content: center;
    text-align: center;
}

.container {
    margin-top: 200px;
    width:500px;
    height:400px;
    padding: 20px;
    background-color:rgb(250, 18, 18);
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(10, 199, 111);
  }

  .heading h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    text-shadow: 0 0 5px rgb(54, 224, 20);
   font-weight: 600;
  }
  
  .content label {
    display:block;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color:rgb(242, 216, 15)

  }
  
  .content input[type="number"],
  .content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgb(197, 78, 78);
    cursor: pointer;
  }
  
  .content input[type="submit"] {
    background-color: #f6f5f8;
    color: rgb(36, 117, 72);
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
   border: none;
    box-shadow: 0 0 5px ;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  .content input[type="submit"]:hover {
    background-color: rgb(79, 179, 61);
    color:rgb(42, 116, 156);
    box-shadow: 0 0 5px black;
  }
  span{
    
    color:rgb(179, 51, 132);
    font-size: 23px;
    font-weight: 500;
    text-shadow: 0 0 3px black;
  }
